@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900);

@mixin center(){
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  @media screen and (min-width: 320px) and (max-width: 640px) {
    width: 100%;
  }
}

@mixin nocenter(){
  position: relative;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

#btn_generado{
  @media screen and (min-width: 320px) and (max-width: 640px) {
   margin-left: 0px !important;
    
  }
}

@mixin portada{
  height: 500px;
  background-image: url('../img/mountain.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5%;
  @media screen and (min-width: 320px) and (max-width: 640px) {
    height: 500px;
    overflow: hidden;
    margin-top: 0px;
  }
  .contenedores{
    height: 100%;
    position: relative;
    @media screen and (min-width: 320px) and (max-width: 640px) {
      height: 30% !important;
    }
    &.primera{
      @media screen and (min-width: 320px) and (max-width: 640px) {
        margin-top: 30%;
      }
    }
    .info{
      @include center();
      @media screen and (min-width: 320px) and (max-width: 640px) {
        padding-right: 20px;
        padding-left: 20px;
      }
      @media screen and (min-width: 640px) and (max-width: 800px) {
        width: 80%;
      }
      width: 60%;
      .titulo{
        color: #ffffff;
        letter-spacing: 7px;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        line-height: 40px;
        @media screen and (min-width: 640px) and (max-width: 1024px) {
          font-size: 28px;
        }
        @media screen and (min-width: 320px) and (max-width: 439px) {
          font-size: 22px;
        }
      }
      .subtitulo{
        color: #ffffff;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        font-style: italic;
        line-height: 20px;
        margin-top: 10px;
        margin-bottom: 7px;
        @media screen and (min-width: 640px) and (max-width: 800px) {
          margin-top: 5px;
        }
      }
      .titulo2{
        color: #ffffff;
        letter-spacing: 10px;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        @media screen and (min-width: 640px) and (max-width: 1024px) {
          font-size: 28px;
        }
        @media screen and (min-width: 320px) and (max-width: 439px) {
          font-size: 22px;

        }
      }
        @include placeholder {
          color: #ffffff !important;
          font-family: 'Raleway', sans-serif;
          font-weight: 400;
        }
        input[type='text'] {
          background-color: transparent;
          color: #ffffff !important;
          font-family: 'Raleway', sans-serif;
          font-weight: 400;
        }
      p{
        color: #ffffff !important;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
      }
      label{
        display: none !important;
      }
      input[type='submit']{
        float: right;
        margin-top: 0px;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        padding: 10px;
        -webkit-appearance: none;
        background-color: #F8F9F6;
        border-radius: 0px;
        font-size: 14px;
      }
    }
  }
}

.site-header{
  background-color: #212F41;
  position: absolute;
  z-index: 99999;
  width: 100%;
  .logo{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    img{
      width: 70px;
      max-width: 70px;
      min-width: 70px;
    }
  }
  .menu_site{
    .navimg{
      position: absolute;
      right: 35px;
      top: 25px;
      cursor: pointer;
    }
  }
}

.main-navigation{
  display: block;
  .menu {
    display: block;
    position: absolute;
    right: 0px;
    z-index: 999;
    text-align: right;
    background-color: #212F41;
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    &.show{
      transition: 500ms;
      -webkit-transition: 500ms;
      -moz-transition: 500ms;
      transform: translateY(50%);
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
    }
    li {
      float: none !important;
      display: block;
      a{
        color: #FFFFFF;
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
      }
      &.current_page_item{
        a{
          color: #489BC3;
        }
      }
    }
  }
}

.site-content{
  padding-left: 0px;
  padding-right: 0px;
  .home{
    position: relative;
    .portada{
      @include portada();
      @media screen and (min-width: 320px) and (max-width: 640px) {
        padding-top: 12%;
      }
      @media screen and (min-width: 320px) and (max-width: 399px) {
        padding-top: 0;
      }
    }
  }

  .bloghome{
    position: relative;
    height: auto;
    overflow: hidden;
    .contenido_articulo{
      padding-right: 0px;
      padding-left: 0px;
      .imgdestacada{
        padding-right: 0px;
        padding-left: 0px;
        div{
          background-repeat: no-repeat;
          background-size: cover;
          height: 400px;
        }
      }
      .info_articulo{
        padding: 5%;
        h3{
          font-family: 'Raleway', sans-serif;
          font-weight: 100;
          color: #263C54;
        }
        p{
          font-family: 'Raleway', sans-serif;
          font-weight: 100;
          color: #263C54;
        }
        .contenedor_btn {
          display: inline-block;
          margin-right: 30px;
          @media screen and (min-width: 320px) and (max-width: 640px) {
            display: block;
            margin: 0 auto;
            text-align: center;
            padding-bottom: 20px;
          }

          .ver_mas {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 20px;
            padding-right: 20px;
            border: 1px solid #489BC3;
            color: #263C54;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 18px;
          }
        }
        .social{
          display: inline-block;
          margin-top: -5px;
          @media screen and (min-width: 320px) and (max-width: 640px) {
            width: 100%;
            text-align: center;
          }
        }
      }
      &.inpar{
        display: flex;
        flex-flow: row wrap;
        .imgdestacada{
          @media screen and (min-width: 320px) and (max-width: 1023px) {
              order: 1;
          }
        }
        .info_articulo{
          @media screen and (min-width: 320px) and (max-width: 1023px) {
              order: 2;
          }
          .contenedor_btn{
            margin-left: 30px ;
            margin-right: 0px;
            @media screen and (min-width: 320px) and (max-width: 640px) {
              margin-left: 0px;
            }
          }
        }
      }
      &.inpar2{
        display: flex;
        flex-flow: row wrap;
        .imgdestacada{
            order: 2;
          @media screen and (min-width: 320px) and (max-width: 1023px) {
            order: 1;
          }
        }
        .info_articulo{
            order: 1;
          h2{
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            text-align: center;
            line-height: 30px;
          }
          h4{
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            text-align: center;
            line-height: 20px;
          }
          h1{
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
          }
          .contenedor_btn{
            display: block;
            width: 100%;
            text-align: center;
          }
          @media screen and (min-width: 320px) and (max-width: 1023px) {
            order: 2;
          }
        }
      }
    }
    .paginav{
      width: 50%;
      text-align: center;
      margin: 0 auto;
      border-left: 1px solid #489BC3;
      border-right: 1px solid #489BC3;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
      @media screen and (min-width: 320px) and (max-width: 640px) {
        width: 90%;
      }
      .info_page{
        color: #263C54;
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
      }
      .number_page{
        display: inline-block;
        margin-left: 10px;
        .page-numbers{
          color: #263C54;
          font-family: 'Raleway', sans-serif;
          font-weight: 200;
          padding: 5px;
          &.current{
            color: #489BC3;
            font-family: 'Raleway', sans-serif;
            font-weight: 200;
          }
          &.next{
            font-size: 20px;
          }
          &.prev{
            font-size: 20px;
          }
        }
      }
    }
  }

  .manifiesto{
    .portada {
      @include portada();
    }
    .contenido{
      margin-top: 5%;
      padding-left: 5%;
      padding-right: 5%;
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        padding-left: 5%;
        padding-right: 5%;
      }
      h1{
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #263C54;
        text-transform: uppercase;
      }
      .info{
        margin-top: 3%;
        p {
          font-family: 'Raleway', sans-serif;
          font-weight: 200;
        }
        h1{
          font-family: 'Raleway', sans-serif;
          font-weight: 700;
          color: #263C54;
        }
        h2{
          font-family: 'Raleway', sans-serif;
          font-weight: 700;
          color: #263C54;
        }
        h3{
          font-family: 'Raleway', sans-serif;
          font-weight: 700;
          color: #263C54;
        }
        h4{
          font-family: 'Raleway', sans-serif;
          font-weight: 700;
          color: #263C54;
        }
        ol{
          list-style: none;
          counter-reset: section;
          margin-top: 40px;
          li{
            font-family: 'Raleway', sans-serif;
            font-weight: 200;
            margin-bottom: 40px;

            &:before{
              counter-increment: section;
              content: counter(section);
              margin-right: 10px;
              border: 1px solid #489BC3;
              padding-top: 8px;
              padding-bottom: 8px;
              padding-left: 15px;
              padding-right: 15px;
              border-radius: 50%;
              font-size: 19px;
              font-family: 'Raleway', sans-serif;
              font-weight: 100;
            }
          }
        }
        ul{
          list-style: none;
          counter-reset: section;
          margin-top: 40px;
          li{
            font-family: 'Raleway', sans-serif;
            font-weight: 200;
            margin-bottom: 40px;

            &:before{
              counter-increment: section;
              content: counter(section);
              margin-right: 10px;
              border: 1px solid #489BC3;
              padding-top: 8px;
              padding-bottom: 8px;
              padding-left: 15px;
              padding-right: 15px;
              border-radius: 50%;
              font-size: 19px;
              font-family: 'Raleway', sans-serif;
              font-weight: 100;
            }
          }
        }
      }
    }
  }

  .aviso_privacidad_template{
      .portada{
        @include portada();
      }
    .contenido{
      margin-top: 5%;
      padding-left: 5%;
      padding-right: 5%;
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        padding-left: 5%;
        padding-right: 5%;
      }
      h1{
        color: #263C54;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
      }
      .info{
        margin-top: 3%;
        p{
          font-family: 'Raleway', sans-serif;
          font-weight: 200;
        }
      }
    }
  }

  .contacto_template{
    height: 100vh;
    @media screen and (min-width: 320px) and (max-width: 640px) {
      height: auto;
      overflow: hidden;
    }
    .contenedor{
      @include center();
      @media screen and (min-width: 320px) and (max-width: 640px) {
        @include nocenter();
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10%;
      }
      @include placeholder {
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        color: #C6C6C5;
      }
      text-align: center;
      .titulo_contacto{
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        color: #263C54;
        @media screen and (min-width: 320px) and (max-width: 640px) {
          padding-top: 40%;
        }
      }
      .descripcion{
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
      }
      .wpcf7-submit{
        background-color: #489BC3;
        -webkit-appearance: none;
        border: none;
        box-shadow: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
      }
    }
  }

  .conferencias{
    .portada{
      height: 500px;
      background-image: url('../img/fondoconferencias.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      margin-top: 5%;
      @media screen and (min-width: 320px) and (max-width: 640px) {
        margin-top: 0px;
      }
      .contenedores{
        height: 100%;
        position: relative;
        @media screen and (min-width: 640px) and (max-width: 800px) {
          width: 100%;
          margin-left: 0px !important;
        }
        .info{
          @include center();
          width: 100%;
          @media screen and (min-width: 320px) and (max-width: 640px) {
            width: 80%;
          }
          @media screen and (min-width: 641px) and (max-width: 800px) {
            width: 100%;

          }
          position: relative;
          overflow: hidden;
          .titulo{
            color: #ffffff;
            letter-spacing: 7px;
            text-transform: uppercase;
            text-align: center;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            line-height: 40px;
            text-overflow:ellipsis
          }
          .descipcion{
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
          }
        }
      }
    }
    .beneficios{
      padding-top: 5%;
      padding-bottom: 5%;

      .titulo{
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #263C54;
        text-transform: uppercase;
        letter-spacing: 10px;
        text-align: center;
        margin-bottom: 2%;
      }
      ol{
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
        -moz-column-gap: 50px; /* Firefox */
        column-gap: 50px;
        list-style: none;
        counter-reset: section;
        padding-right: 10%;
        padding-left: 10%;
        @media screen and (min-width: 320px) and (max-width: 640px) {
          -webkit-column-count: 1; /* Chrome, Safari, Opera */
          -moz-column-count: 1; /* Firefox */
          column-count: 1;
          -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
          -moz-column-gap: 0px; /* Firefox */
          column-gap: 0px;
        }
        li{
          font-family: 'Raleway', sans-serif;
          font-weight: 200;
          margin-bottom: 30px;
          &:before{
            counter-increment: section;
            content: counter(section);
            margin-right: 10px;
            border: 1px solid #489BC3;
            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 50%;
            font-size: 28px;
            font-family: 'Raleway', sans-serif;
            font-weight: 100;
            vertical-align: middle;
          }
        }
      }
    }

    .video{
      background-color: #212F41;
      padding-top: 2%;
      padding-bottom: 2%;
      padding-left: 5%;
      padding-right: 5%;
      position: relative;
      @media screen and (min-width: 320px) and (max-width: 640px) {
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 7%;
        padding-right: 7%;
      }
      .jetpack-video-wrapper {
        margin-bottom: 0px;
        .youtube-player {
          margin: 0 auto !important;
          border: 4px solid #ffffff;
        }
      }
    }

    .testimonios{
      padding-top: 5%;
      padding-bottom: 2%;
      padding-left: 5%;
      padding-right: 5%;
      position: relative;
      .titulo{
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #263C54;
        text-transform: uppercase;
        letter-spacing: 10px;
        text-align: center;
        margin-bottom: 2%;
      }
      .owl-item{
        iframe{
          margin: 0 auto;
          border: 1px solid #489BC3 !important;
        }
      }

      .owl-dots {
        bottom: -50px;
        .owl-dot {
          span {
            background-color: #212F41;
          }
          &.active {
            span {
              background-color: #489BC3;
            }
          }
        }
      }
    }

    .contacto{
      padding: 10%;
      .row{
        max-width: 43rem;
        @include placeholder {
          font-family: 'Raleway', sans-serif;
          font-weight: 200;
          color: #C6C6C5;
        }
        .titulo{
          text-align: center;
          font-family: 'Raleway', sans-serif;
          font-weight: 700;
          color: #263C54;
          text-transform: uppercase;
          letter-spacing: 10px;
          margin-bottom: 2%;
        }
        .descripcion{
          font-family: 'Raleway', sans-serif;
          font-weight: 200;
          text-align: center;
        }
        p{
          text-align: center;
        }
        .wpcf7-submit{
          background-color: #489BC3;
          -webkit-appearance: none;
          border: none;
          box-shadow: none;
          color: #fff;
          text-transform: uppercase;
          font-size: 18px;
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 10px;
          padding-bottom: 10px;
          font-family: 'Raleway', sans-serif;
          font-weight: 200;
        }
      }
    }

  }

}

.detalle_articulo{
  .portada_detallearticulo{
    @include portada();
  }
  .contenido_post{
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      padding-left: 5%;
      padding-right: 5%;
    }

    .img_detallearticulo{
      height: 500px;
      margin-bottom: 40px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .entry-title {
      font-family: 'Raleway', sans-serif;
      font-weight: 100;
      @media screen and (min-width: 640px) and (max-width: 1024px) {
        padding-left: 30px;
        padding-right: 30px;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
    .entry-content{
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
      color: #4A4949;
      @media screen and (min-width: 640px) and (max-width: 1024px) {
        padding-left: 30px;
        padding-right: 30px;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
        padding-left: 5px;
        padding-right: 5px;
      }

      b{
        color: #263C54;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
      }
    }
    .comparte{
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
      color: #4A4949;
    }
    .social{
      margin-left: 13%;
      @media screen and (min-width: 320px) and (max-width: 640px) {
        margin-left: 0px;
        text-align: center;
      }
    }
  }
}

.site-footer{
  background-color: #212F41;
  padding-top: 15px;
  padding-bottom: 15px;
  .aviso_privacidad{
    @media screen and (min-width: 320px) and (max-width: 640px) {
      text-align: center;
    }
    a{
      color: #fff;
      font-family: 'Raleway', sans-serif;
      font-weight: 200;
    }
    padding-top: 10px;
  }
  .redes{
    text-align: right;
    @media screen and (min-width: 320px) and (max-width: 640px) {
      text-align: center;
      padding-top: 10px;
    }
    .glyph-icon{
      display: inline-block;
      &:before{
        color: #ffffff;
        font-size: 30px;
      }
    }
  }
}
