@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900);
@media screen and (min-width: 320px) and (max-width: 640px) {
  #btn_generado {
    margin-left: 0px !important; } }

.site-header {
  background-color: #212F41;
  position: absolute;
  z-index: 99999;
  width: 100%; }
  .site-header .logo {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px; }
    .site-header .logo img {
      width: 70px;
      max-width: 70px;
      min-width: 70px; }
  .site-header .menu_site .navimg {
    position: absolute;
    right: 35px;
    top: 25px;
    cursor: pointer; }

.main-navigation {
  display: block; }
  .main-navigation .menu {
    display: block;
    position: absolute;
    right: 0px;
    z-index: 999;
    text-align: right;
    background-color: #212F41;
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms; }
    .main-navigation .menu.show {
      transition: 500ms;
      -webkit-transition: 500ms;
      -moz-transition: 500ms;
      transform: translateY(50%);
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%); }
    .main-navigation .menu li {
      float: none !important;
      display: block; }
      .main-navigation .menu li a {
        color: #FFFFFF;
        font-family: 'Raleway', sans-serif;
        font-weight: 200; }
      .main-navigation .menu li.current_page_item a {
        color: #489BC3; }

.site-content {
  padding-left: 0px;
  padding-right: 0px; }
  .site-content .home {
    position: relative; }
    .site-content .home .portada {
      height: 500px;
      background-image: url("../img/mountain.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      margin-top: 5%; }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .home .portada {
          height: 500px;
          overflow: hidden;
          margin-top: 0px; } }
      .site-content .home .portada .contenedores {
        height: 100%;
        position: relative; }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .home .portada .contenedores {
            height: 30% !important; } }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .home .portada .contenedores.primera {
            margin-top: 30%; } }
        .site-content .home .portada .contenedores .info {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          width: 60%; }
          @media screen and (min-width: 320px) and (max-width: 640px) {
            .site-content .home .portada .contenedores .info {
              width: 100%; } }
          @media screen and (min-width: 320px) and (max-width: 640px) {
            .site-content .home .portada .contenedores .info {
              padding-right: 20px;
              padding-left: 20px; } }
          @media screen and (min-width: 640px) and (max-width: 800px) {
            .site-content .home .portada .contenedores .info {
              width: 80%; } }
          .site-content .home .portada .contenedores .info .titulo {
            color: #ffffff;
            letter-spacing: 7px;
            text-transform: uppercase;
            text-align: center;
            font-family: 'Raleway', sans-serif;
            font-weight: 100;
            line-height: 40px; }
            @media screen and (min-width: 640px) and (max-width: 1024px) {
              .site-content .home .portada .contenedores .info .titulo {
                font-size: 28px; } }
            @media screen and (min-width: 320px) and (max-width: 439px) {
              .site-content .home .portada .contenedores .info .titulo {
                font-size: 22px; } }
          .site-content .home .portada .contenedores .info .subtitulo {
            color: #ffffff;
            text-align: center;
            font-family: 'Raleway', sans-serif;
            font-weight: 200;
            font-style: italic;
            line-height: 20px;
            margin-top: 10px;
            margin-bottom: 7px; }
            @media screen and (min-width: 640px) and (max-width: 800px) {
              .site-content .home .portada .contenedores .info .subtitulo {
                margin-top: 5px; } }
          .site-content .home .portada .contenedores .info .titulo2 {
            color: #ffffff;
            letter-spacing: 10px;
            text-transform: uppercase;
            text-align: center;
            font-family: 'Raleway', sans-serif;
            font-weight: 700; }
            @media screen and (min-width: 640px) and (max-width: 1024px) {
              .site-content .home .portada .contenedores .info .titulo2 {
                font-size: 28px; } }
            @media screen and (min-width: 320px) and (max-width: 439px) {
              .site-content .home .portada .contenedores .info .titulo2 {
                font-size: 22px; } }
          .site-content .home .portada .contenedores .info ::-webkit-input-placeholder {
            color: #ffffff !important;
            font-family: 'Raleway', sans-serif;
            font-weight: 400; }
          .site-content .home .portada .contenedores .info :-moz-placeholder {
            color: #ffffff !important;
            font-family: 'Raleway', sans-serif;
            font-weight: 400; }
          .site-content .home .portada .contenedores .info ::-moz-placeholder {
            color: #ffffff !important;
            font-family: 'Raleway', sans-serif;
            font-weight: 400; }
          .site-content .home .portada .contenedores .info :-ms-input-placeholder {
            color: #ffffff !important;
            font-family: 'Raleway', sans-serif;
            font-weight: 400; }
          .site-content .home .portada .contenedores .info input[type='text'] {
            background-color: transparent;
            color: #ffffff !important;
            font-family: 'Raleway', sans-serif;
            font-weight: 400; }
          .site-content .home .portada .contenedores .info p {
            color: #ffffff !important;
            font-family: 'Raleway', sans-serif;
            font-weight: 400; }
          .site-content .home .portada .contenedores .info label {
            display: none !important; }
          .site-content .home .portada .contenedores .info input[type='submit'] {
            float: right;
            margin-top: 0px;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            padding: 10px;
            -webkit-appearance: none;
            background-color: #F8F9F6;
            border-radius: 0px;
            font-size: 14px; }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .home .portada {
          padding-top: 12%; } }
      @media screen and (min-width: 320px) and (max-width: 399px) {
        .site-content .home .portada {
          padding-top: 0; } }
  .site-content .bloghome {
    position: relative;
    height: auto;
    overflow: hidden; }
    .site-content .bloghome .contenido_articulo {
      padding-right: 0px;
      padding-left: 0px; }
      .site-content .bloghome .contenido_articulo .imgdestacada {
        padding-right: 0px;
        padding-left: 0px; }
        .site-content .bloghome .contenido_articulo .imgdestacada div {
          background-repeat: no-repeat;
          background-size: cover;
          height: 400px; }
      .site-content .bloghome .contenido_articulo .info_articulo {
        padding: 5%; }
        .site-content .bloghome .contenido_articulo .info_articulo h3 {
          font-family: 'Raleway', sans-serif;
          font-weight: 100;
          color: #263C54; }
        .site-content .bloghome .contenido_articulo .info_articulo p {
          font-family: 'Raleway', sans-serif;
          font-weight: 100;
          color: #263C54; }
        .site-content .bloghome .contenido_articulo .info_articulo .contenedor_btn {
          display: inline-block;
          margin-right: 30px; }
          @media screen and (min-width: 320px) and (max-width: 640px) {
            .site-content .bloghome .contenido_articulo .info_articulo .contenedor_btn {
              display: block;
              margin: 0 auto;
              text-align: center;
              padding-bottom: 20px; } }
          .site-content .bloghome .contenido_articulo .info_articulo .contenedor_btn .ver_mas {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 20px;
            padding-right: 20px;
            border: 1px solid #489BC3;
            color: #263C54;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 18px; }
        .site-content .bloghome .contenido_articulo .info_articulo .social {
          display: inline-block;
          margin-top: -5px; }
          @media screen and (min-width: 320px) and (max-width: 640px) {
            .site-content .bloghome .contenido_articulo .info_articulo .social {
              width: 100%;
              text-align: center; } }
      .site-content .bloghome .contenido_articulo.inpar {
        display: flex;
        flex-flow: row wrap; }
        @media screen and (min-width: 320px) and (max-width: 1023px) {
          .site-content .bloghome .contenido_articulo.inpar .imgdestacada {
            order: 1; } }
        @media screen and (min-width: 320px) and (max-width: 1023px) {
          .site-content .bloghome .contenido_articulo.inpar .info_articulo {
            order: 2; } }
        .site-content .bloghome .contenido_articulo.inpar .info_articulo .contenedor_btn {
          margin-left: 30px;
          margin-right: 0px; }
          @media screen and (min-width: 320px) and (max-width: 640px) {
            .site-content .bloghome .contenido_articulo.inpar .info_articulo .contenedor_btn {
              margin-left: 0px; } }
      .site-content .bloghome .contenido_articulo.inpar2 {
        display: flex;
        flex-flow: row wrap; }
        .site-content .bloghome .contenido_articulo.inpar2 .imgdestacada {
          order: 2; }
          @media screen and (min-width: 320px) and (max-width: 1023px) {
            .site-content .bloghome .contenido_articulo.inpar2 .imgdestacada {
              order: 1; } }
        .site-content .bloghome .contenido_articulo.inpar2 .info_articulo {
          order: 1; }
          .site-content .bloghome .contenido_articulo.inpar2 .info_articulo h2 {
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            text-align: center;
            line-height: 30px; }
          .site-content .bloghome .contenido_articulo.inpar2 .info_articulo h4 {
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            text-align: center;
            line-height: 20px; }
          .site-content .bloghome .contenido_articulo.inpar2 .info_articulo h1 {
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase; }
          .site-content .bloghome .contenido_articulo.inpar2 .info_articulo .contenedor_btn {
            display: block;
            width: 100%;
            text-align: center; }
          @media screen and (min-width: 320px) and (max-width: 1023px) {
            .site-content .bloghome .contenido_articulo.inpar2 .info_articulo {
              order: 2; } }
    .site-content .bloghome .paginav {
      width: 50%;
      text-align: center;
      margin: 0 auto;
      border-left: 1px solid #489BC3;
      border-right: 1px solid #489BC3;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 20px;
      margin-bottom: 20px; }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .bloghome .paginav {
          width: 90%; } }
      .site-content .bloghome .paginav .info_page {
        color: #263C54;
        font-family: 'Raleway', sans-serif;
        font-weight: 200; }
      .site-content .bloghome .paginav .number_page {
        display: inline-block;
        margin-left: 10px; }
        .site-content .bloghome .paginav .number_page .page-numbers {
          color: #263C54;
          font-family: 'Raleway', sans-serif;
          font-weight: 200;
          padding: 5px; }
          .site-content .bloghome .paginav .number_page .page-numbers.current {
            color: #489BC3;
            font-family: 'Raleway', sans-serif;
            font-weight: 200; }
          .site-content .bloghome .paginav .number_page .page-numbers.next {
            font-size: 20px; }
          .site-content .bloghome .paginav .number_page .page-numbers.prev {
            font-size: 20px; }
  .site-content .manifiesto .portada {
    height: 500px;
    background-image: url("../img/mountain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5%; }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .site-content .manifiesto .portada {
        height: 500px;
        overflow: hidden;
        margin-top: 0px; } }
    .site-content .manifiesto .portada .contenedores {
      height: 100%;
      position: relative; }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .manifiesto .portada .contenedores {
          height: 30% !important; } }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .manifiesto .portada .contenedores.primera {
          margin-top: 30%; } }
      .site-content .manifiesto .portada .contenedores .info {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 60%; }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .manifiesto .portada .contenedores .info {
            width: 100%; } }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .manifiesto .portada .contenedores .info {
            padding-right: 20px;
            padding-left: 20px; } }
        @media screen and (min-width: 640px) and (max-width: 800px) {
          .site-content .manifiesto .portada .contenedores .info {
            width: 80%; } }
        .site-content .manifiesto .portada .contenedores .info .titulo {
          color: #ffffff;
          letter-spacing: 7px;
          text-transform: uppercase;
          text-align: center;
          font-family: 'Raleway', sans-serif;
          font-weight: 100;
          line-height: 40px; }
          @media screen and (min-width: 640px) and (max-width: 1024px) {
            .site-content .manifiesto .portada .contenedores .info .titulo {
              font-size: 28px; } }
          @media screen and (min-width: 320px) and (max-width: 439px) {
            .site-content .manifiesto .portada .contenedores .info .titulo {
              font-size: 22px; } }
        .site-content .manifiesto .portada .contenedores .info .subtitulo {
          color: #ffffff;
          text-align: center;
          font-family: 'Raleway', sans-serif;
          font-weight: 200;
          font-style: italic;
          line-height: 20px;
          margin-top: 10px;
          margin-bottom: 7px; }
          @media screen and (min-width: 640px) and (max-width: 800px) {
            .site-content .manifiesto .portada .contenedores .info .subtitulo {
              margin-top: 5px; } }
        .site-content .manifiesto .portada .contenedores .info .titulo2 {
          color: #ffffff;
          letter-spacing: 10px;
          text-transform: uppercase;
          text-align: center;
          font-family: 'Raleway', sans-serif;
          font-weight: 700; }
          @media screen and (min-width: 640px) and (max-width: 1024px) {
            .site-content .manifiesto .portada .contenedores .info .titulo2 {
              font-size: 28px; } }
          @media screen and (min-width: 320px) and (max-width: 439px) {
            .site-content .manifiesto .portada .contenedores .info .titulo2 {
              font-size: 22px; } }
        .site-content .manifiesto .portada .contenedores .info ::-webkit-input-placeholder {
          color: #ffffff !important;
          font-family: 'Raleway', sans-serif;
          font-weight: 400; }
        .site-content .manifiesto .portada .contenedores .info :-moz-placeholder {
          color: #ffffff !important;
          font-family: 'Raleway', sans-serif;
          font-weight: 400; }
        .site-content .manifiesto .portada .contenedores .info ::-moz-placeholder {
          color: #ffffff !important;
          font-family: 'Raleway', sans-serif;
          font-weight: 400; }
        .site-content .manifiesto .portada .contenedores .info :-ms-input-placeholder {
          color: #ffffff !important;
          font-family: 'Raleway', sans-serif;
          font-weight: 400; }
        .site-content .manifiesto .portada .contenedores .info input[type='text'] {
          background-color: transparent;
          color: #ffffff !important;
          font-family: 'Raleway', sans-serif;
          font-weight: 400; }
        .site-content .manifiesto .portada .contenedores .info p {
          color: #ffffff !important;
          font-family: 'Raleway', sans-serif;
          font-weight: 400; }
        .site-content .manifiesto .portada .contenedores .info label {
          display: none !important; }
        .site-content .manifiesto .portada .contenedores .info input[type='submit'] {
          float: right;
          margin-top: 0px;
          font-family: 'Raleway', sans-serif;
          font-weight: 400;
          padding: 10px;
          -webkit-appearance: none;
          background-color: #F8F9F6;
          border-radius: 0px;
          font-size: 14px; }
  .site-content .manifiesto .contenido {
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%; }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      .site-content .manifiesto .contenido {
        padding-left: 5%;
        padding-right: 5%; } }
    .site-content .manifiesto .contenido h1 {
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      color: #263C54;
      text-transform: uppercase; }
    .site-content .manifiesto .contenido .info {
      margin-top: 3%; }
      .site-content .manifiesto .contenido .info p {
        font-family: 'Raleway', sans-serif;
        font-weight: 200; }
      .site-content .manifiesto .contenido .info h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #263C54; }
      .site-content .manifiesto .contenido .info h2 {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #263C54; }
      .site-content .manifiesto .contenido .info h3 {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #263C54; }
      .site-content .manifiesto .contenido .info h4 {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #263C54; }
      .site-content .manifiesto .contenido .info ol {
        list-style: none;
        counter-reset: section;
        margin-top: 40px; }
        .site-content .manifiesto .contenido .info ol li {
          font-family: 'Raleway', sans-serif;
          font-weight: 200;
          margin-bottom: 40px; }
          .site-content .manifiesto .contenido .info ol li:before {
            counter-increment: section;
            content: counter(section);
            margin-right: 10px;
            border: 1px solid #489BC3;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 50%;
            font-size: 19px;
            font-family: 'Raleway', sans-serif;
            font-weight: 100; }
      .site-content .manifiesto .contenido .info ul {
        list-style: none;
        counter-reset: section;
        margin-top: 40px; }
        .site-content .manifiesto .contenido .info ul li {
          font-family: 'Raleway', sans-serif;
          font-weight: 200;
          margin-bottom: 40px; }
          .site-content .manifiesto .contenido .info ul li:before {
            counter-increment: section;
            content: counter(section);
            margin-right: 10px;
            border: 1px solid #489BC3;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 50%;
            font-size: 19px;
            font-family: 'Raleway', sans-serif;
            font-weight: 100; }
  .site-content .aviso_privacidad_template .portada {
    height: 500px;
    background-image: url("../img/mountain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5%; }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .site-content .aviso_privacidad_template .portada {
        height: 500px;
        overflow: hidden;
        margin-top: 0px; } }
    .site-content .aviso_privacidad_template .portada .contenedores {
      height: 100%;
      position: relative; }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .aviso_privacidad_template .portada .contenedores {
          height: 30% !important; } }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .aviso_privacidad_template .portada .contenedores.primera {
          margin-top: 30%; } }
      .site-content .aviso_privacidad_template .portada .contenedores .info {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 60%; }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .aviso_privacidad_template .portada .contenedores .info {
            width: 100%; } }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .aviso_privacidad_template .portada .contenedores .info {
            padding-right: 20px;
            padding-left: 20px; } }
        @media screen and (min-width: 640px) and (max-width: 800px) {
          .site-content .aviso_privacidad_template .portada .contenedores .info {
            width: 80%; } }
        .site-content .aviso_privacidad_template .portada .contenedores .info .titulo {
          color: #ffffff;
          letter-spacing: 7px;
          text-transform: uppercase;
          text-align: center;
          font-family: 'Raleway', sans-serif;
          font-weight: 100;
          line-height: 40px; }
          @media screen and (min-width: 640px) and (max-width: 1024px) {
            .site-content .aviso_privacidad_template .portada .contenedores .info .titulo {
              font-size: 28px; } }
          @media screen and (min-width: 320px) and (max-width: 439px) {
            .site-content .aviso_privacidad_template .portada .contenedores .info .titulo {
              font-size: 22px; } }
        .site-content .aviso_privacidad_template .portada .contenedores .info .subtitulo {
          color: #ffffff;
          text-align: center;
          font-family: 'Raleway', sans-serif;
          font-weight: 200;
          font-style: italic;
          line-height: 20px;
          margin-top: 10px;
          margin-bottom: 7px; }
          @media screen and (min-width: 640px) and (max-width: 800px) {
            .site-content .aviso_privacidad_template .portada .contenedores .info .subtitulo {
              margin-top: 5px; } }
        .site-content .aviso_privacidad_template .portada .contenedores .info .titulo2 {
          color: #ffffff;
          letter-spacing: 10px;
          text-transform: uppercase;
          text-align: center;
          font-family: 'Raleway', sans-serif;
          font-weight: 700; }
          @media screen and (min-width: 640px) and (max-width: 1024px) {
            .site-content .aviso_privacidad_template .portada .contenedores .info .titulo2 {
              font-size: 28px; } }
          @media screen and (min-width: 320px) and (max-width: 439px) {
            .site-content .aviso_privacidad_template .portada .contenedores .info .titulo2 {
              font-size: 22px; } }
        .site-content .aviso_privacidad_template .portada .contenedores .info ::-webkit-input-placeholder {
          color: #ffffff !important;
          font-family: 'Raleway', sans-serif;
          font-weight: 400; }
        .site-content .aviso_privacidad_template .portada .contenedores .info :-moz-placeholder {
          color: #ffffff !important;
          font-family: 'Raleway', sans-serif;
          font-weight: 400; }
        .site-content .aviso_privacidad_template .portada .contenedores .info ::-moz-placeholder {
          color: #ffffff !important;
          font-family: 'Raleway', sans-serif;
          font-weight: 400; }
        .site-content .aviso_privacidad_template .portada .contenedores .info :-ms-input-placeholder {
          color: #ffffff !important;
          font-family: 'Raleway', sans-serif;
          font-weight: 400; }
        .site-content .aviso_privacidad_template .portada .contenedores .info input[type='text'] {
          background-color: transparent;
          color: #ffffff !important;
          font-family: 'Raleway', sans-serif;
          font-weight: 400; }
        .site-content .aviso_privacidad_template .portada .contenedores .info p {
          color: #ffffff !important;
          font-family: 'Raleway', sans-serif;
          font-weight: 400; }
        .site-content .aviso_privacidad_template .portada .contenedores .info label {
          display: none !important; }
        .site-content .aviso_privacidad_template .portada .contenedores .info input[type='submit'] {
          float: right;
          margin-top: 0px;
          font-family: 'Raleway', sans-serif;
          font-weight: 400;
          padding: 10px;
          -webkit-appearance: none;
          background-color: #F8F9F6;
          border-radius: 0px;
          font-size: 14px; }
  .site-content .aviso_privacidad_template .contenido {
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%; }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      .site-content .aviso_privacidad_template .contenido {
        padding-left: 5%;
        padding-right: 5%; } }
    .site-content .aviso_privacidad_template .contenido h1 {
      color: #263C54;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      text-transform: uppercase; }
    .site-content .aviso_privacidad_template .contenido .info {
      margin-top: 3%; }
      .site-content .aviso_privacidad_template .contenido .info p {
        font-family: 'Raleway', sans-serif;
        font-weight: 200; }
  .site-content .contacto_template {
    height: 100vh; }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .site-content .contacto_template {
        height: auto;
        overflow: hidden; } }
    .site-content .contacto_template .contenedor {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center; }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .contacto_template .contenedor {
          width: 100%; } }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .contacto_template .contenedor {
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 10%; } }
      .site-content .contacto_template .contenedor ::-webkit-input-placeholder {
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        color: #C6C6C5; }
      .site-content .contacto_template .contenedor :-moz-placeholder {
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        color: #C6C6C5; }
      .site-content .contacto_template .contenedor ::-moz-placeholder {
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        color: #C6C6C5; }
      .site-content .contacto_template .contenedor :-ms-input-placeholder {
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        color: #C6C6C5; }
      .site-content .contacto_template .contenedor .titulo_contacto {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        color: #263C54; }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .contacto_template .contenedor .titulo_contacto {
            padding-top: 40%; } }
      .site-content .contacto_template .contenedor .descripcion {
        font-family: 'Raleway', sans-serif;
        font-weight: 200; }
      .site-content .contacto_template .contenedor .wpcf7-submit {
        background-color: #489BC3;
        -webkit-appearance: none;
        border: none;
        box-shadow: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: 'Raleway', sans-serif;
        font-weight: 200; }
  .site-content .conferencias .portada {
    height: 500px;
    background-image: url("../img/fondoconferencias.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 5%; }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .site-content .conferencias .portada {
        margin-top: 0px; } }
    .site-content .conferencias .portada .contenedores {
      height: 100%;
      position: relative; }
      @media screen and (min-width: 640px) and (max-width: 800px) {
        .site-content .conferencias .portada .contenedores {
          width: 100%;
          margin-left: 0px !important; } }
      .site-content .conferencias .portada .contenedores .info {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100%;
        position: relative;
        overflow: hidden; }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .conferencias .portada .contenedores .info {
            width: 100%; } }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .conferencias .portada .contenedores .info {
            width: 80%; } }
        @media screen and (min-width: 641px) and (max-width: 800px) {
          .site-content .conferencias .portada .contenedores .info {
            width: 100%; } }
        .site-content .conferencias .portada .contenedores .info .titulo {
          color: #ffffff;
          letter-spacing: 7px;
          text-transform: uppercase;
          text-align: center;
          font-family: 'Raleway', sans-serif;
          font-weight: 700;
          line-height: 40px;
          text-overflow: ellipsis; }
        .site-content .conferencias .portada .contenedores .info .descipcion {
          color: #ffffff;
          font-family: 'Raleway', sans-serif;
          font-weight: 500; }
  .site-content .conferencias .beneficios {
    padding-top: 5%;
    padding-bottom: 5%; }
    .site-content .conferencias .beneficios .titulo {
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      color: #263C54;
      text-transform: uppercase;
      letter-spacing: 10px;
      text-align: center;
      margin-bottom: 2%; }
    .site-content .conferencias .beneficios ol {
      -webkit-column-count: 2;
      /* Chrome, Safari, Opera */
      -moz-column-count: 2;
      /* Firefox */
      column-count: 2;
      -webkit-column-gap: 50px;
      /* Chrome, Safari, Opera */
      -moz-column-gap: 50px;
      /* Firefox */
      column-gap: 50px;
      list-style: none;
      counter-reset: section;
      padding-right: 10%;
      padding-left: 10%; }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .conferencias .beneficios ol {
          -webkit-column-count: 1;
          /* Chrome, Safari, Opera */
          -moz-column-count: 1;
          /* Firefox */
          column-count: 1;
          -webkit-column-gap: 0px;
          /* Chrome, Safari, Opera */
          -moz-column-gap: 0px;
          /* Firefox */
          column-gap: 0px; } }
      .site-content .conferencias .beneficios ol li {
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        margin-bottom: 30px; }
        .site-content .conferencias .beneficios ol li:before {
          counter-increment: section;
          content: counter(section);
          margin-right: 10px;
          border: 1px solid #489BC3;
          padding-top: 4px;
          padding-bottom: 4px;
          padding-left: 15px;
          padding-right: 15px;
          border-radius: 50%;
          font-size: 28px;
          font-family: 'Raleway', sans-serif;
          font-weight: 100;
          vertical-align: middle; }
  .site-content .conferencias .video {
    background-color: #212F41;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    position: relative; }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .site-content .conferencias .video {
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 7%;
        padding-right: 7%; } }
    .site-content .conferencias .video .jetpack-video-wrapper {
      margin-bottom: 0px; }
      .site-content .conferencias .video .jetpack-video-wrapper .youtube-player {
        margin: 0 auto !important;
        border: 4px solid #ffffff; }
  .site-content .conferencias .testimonios {
    padding-top: 5%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    position: relative; }
    .site-content .conferencias .testimonios .titulo {
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      color: #263C54;
      text-transform: uppercase;
      letter-spacing: 10px;
      text-align: center;
      margin-bottom: 2%; }
    .site-content .conferencias .testimonios .owl-item iframe {
      margin: 0 auto;
      border: 1px solid #489BC3 !important; }
    .site-content .conferencias .testimonios .owl-dots {
      bottom: -50px; }
      .site-content .conferencias .testimonios .owl-dots .owl-dot span {
        background-color: #212F41; }
      .site-content .conferencias .testimonios .owl-dots .owl-dot.active span {
        background-color: #489BC3; }
  .site-content .conferencias .contacto {
    padding: 10%; }
    .site-content .conferencias .contacto .row {
      max-width: 43rem; }
      .site-content .conferencias .contacto .row ::-webkit-input-placeholder {
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        color: #C6C6C5; }
      .site-content .conferencias .contacto .row :-moz-placeholder {
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        color: #C6C6C5; }
      .site-content .conferencias .contacto .row ::-moz-placeholder {
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        color: #C6C6C5; }
      .site-content .conferencias .contacto .row :-ms-input-placeholder {
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        color: #C6C6C5; }
      .site-content .conferencias .contacto .row .titulo {
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #263C54;
        text-transform: uppercase;
        letter-spacing: 10px;
        margin-bottom: 2%; }
      .site-content .conferencias .contacto .row .descripcion {
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        text-align: center; }
      .site-content .conferencias .contacto .row p {
        text-align: center; }
      .site-content .conferencias .contacto .row .wpcf7-submit {
        background-color: #489BC3;
        -webkit-appearance: none;
        border: none;
        box-shadow: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: 'Raleway', sans-serif;
        font-weight: 200; }

.detalle_articulo .portada_detallearticulo {
  height: 500px;
  background-image: url("../img/mountain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5%; }
  @media screen and (min-width: 320px) and (max-width: 640px) {
    .detalle_articulo .portada_detallearticulo {
      height: 500px;
      overflow: hidden;
      margin-top: 0px; } }
  .detalle_articulo .portada_detallearticulo .contenedores {
    height: 100%;
    position: relative; }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .detalle_articulo .portada_detallearticulo .contenedores {
        height: 30% !important; } }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .detalle_articulo .portada_detallearticulo .contenedores.primera {
        margin-top: 30%; } }
    .detalle_articulo .portada_detallearticulo .contenedores .info {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 60%; }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .detalle_articulo .portada_detallearticulo .contenedores .info {
          width: 100%; } }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .detalle_articulo .portada_detallearticulo .contenedores .info {
          padding-right: 20px;
          padding-left: 20px; } }
      @media screen and (min-width: 640px) and (max-width: 800px) {
        .detalle_articulo .portada_detallearticulo .contenedores .info {
          width: 80%; } }
      .detalle_articulo .portada_detallearticulo .contenedores .info .titulo {
        color: #ffffff;
        letter-spacing: 7px;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        line-height: 40px; }
        @media screen and (min-width: 640px) and (max-width: 1024px) {
          .detalle_articulo .portada_detallearticulo .contenedores .info .titulo {
            font-size: 28px; } }
        @media screen and (min-width: 320px) and (max-width: 439px) {
          .detalle_articulo .portada_detallearticulo .contenedores .info .titulo {
            font-size: 22px; } }
      .detalle_articulo .portada_detallearticulo .contenedores .info .subtitulo {
        color: #ffffff;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        font-style: italic;
        line-height: 20px;
        margin-top: 10px;
        margin-bottom: 7px; }
        @media screen and (min-width: 640px) and (max-width: 800px) {
          .detalle_articulo .portada_detallearticulo .contenedores .info .subtitulo {
            margin-top: 5px; } }
      .detalle_articulo .portada_detallearticulo .contenedores .info .titulo2 {
        color: #ffffff;
        letter-spacing: 10px;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 700; }
        @media screen and (min-width: 640px) and (max-width: 1024px) {
          .detalle_articulo .portada_detallearticulo .contenedores .info .titulo2 {
            font-size: 28px; } }
        @media screen and (min-width: 320px) and (max-width: 439px) {
          .detalle_articulo .portada_detallearticulo .contenedores .info .titulo2 {
            font-size: 22px; } }
      .detalle_articulo .portada_detallearticulo .contenedores .info ::-webkit-input-placeholder {
        color: #ffffff !important;
        font-family: 'Raleway', sans-serif;
        font-weight: 400; }
      .detalle_articulo .portada_detallearticulo .contenedores .info :-moz-placeholder {
        color: #ffffff !important;
        font-family: 'Raleway', sans-serif;
        font-weight: 400; }
      .detalle_articulo .portada_detallearticulo .contenedores .info ::-moz-placeholder {
        color: #ffffff !important;
        font-family: 'Raleway', sans-serif;
        font-weight: 400; }
      .detalle_articulo .portada_detallearticulo .contenedores .info :-ms-input-placeholder {
        color: #ffffff !important;
        font-family: 'Raleway', sans-serif;
        font-weight: 400; }
      .detalle_articulo .portada_detallearticulo .contenedores .info input[type='text'] {
        background-color: transparent;
        color: #ffffff !important;
        font-family: 'Raleway', sans-serif;
        font-weight: 400; }
      .detalle_articulo .portada_detallearticulo .contenedores .info p {
        color: #ffffff !important;
        font-family: 'Raleway', sans-serif;
        font-weight: 400; }
      .detalle_articulo .portada_detallearticulo .contenedores .info label {
        display: none !important; }
      .detalle_articulo .portada_detallearticulo .contenedores .info input[type='submit'] {
        float: right;
        margin-top: 0px;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        padding: 10px;
        -webkit-appearance: none;
        background-color: #F8F9F6;
        border-radius: 0px;
        font-size: 14px; }
.detalle_articulo .contenido_post {
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%; }
  @media screen and (min-width: 320px) and (max-width: 1024px) {
    .detalle_articulo .contenido_post {
      padding-left: 5%;
      padding-right: 5%; } }
  .detalle_articulo .contenido_post .img_detallearticulo {
    height: 500px;
    margin-bottom: 40px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  .detalle_articulo .contenido_post .entry-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 100; }
    @media screen and (min-width: 640px) and (max-width: 1024px) {
      .detalle_articulo .contenido_post .entry-title {
        padding-left: 30px;
        padding-right: 30px; } }
    @media screen and (min-width: 320px) and (max-width: 639px) {
      .detalle_articulo .contenido_post .entry-title {
        padding-left: 5px;
        padding-right: 5px; } }
  .detalle_articulo .contenido_post .entry-content {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #4A4949; }
    @media screen and (min-width: 640px) and (max-width: 1024px) {
      .detalle_articulo .contenido_post .entry-content {
        padding-left: 30px;
        padding-right: 30px; } }
    @media screen and (min-width: 320px) and (max-width: 639px) {
      .detalle_articulo .contenido_post .entry-content {
        padding-left: 5px;
        padding-right: 5px; } }
    .detalle_articulo .contenido_post .entry-content b {
      color: #263C54;
      font-family: 'Raleway', sans-serif;
      font-weight: 600; }
  .detalle_articulo .contenido_post .comparte {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #4A4949; }
  .detalle_articulo .contenido_post .social {
    margin-left: 13%; }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .detalle_articulo .contenido_post .social {
        margin-left: 0px;
        text-align: center; } }

.site-footer {
  background-color: #212F41;
  padding-top: 15px;
  padding-bottom: 15px; }
  .site-footer .aviso_privacidad {
    padding-top: 10px; }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .site-footer .aviso_privacidad {
        text-align: center; } }
    .site-footer .aviso_privacidad a {
      color: #fff;
      font-family: 'Raleway', sans-serif;
      font-weight: 200; }
  .site-footer .redes {
    text-align: right; }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .site-footer .redes {
        text-align: center;
        padding-top: 10px; } }
    .site-footer .redes .glyph-icon {
      display: inline-block; }
      .site-footer .redes .glyph-icon:before {
        color: #ffffff;
        font-size: 30px; }
